/* reviews.css */

.product-review-container {
    max-width: fit-content;
    /* margin: 0 auto; */
    padding: 20px;
  }
  
  .product-review-container h5 {
    color: #333;
    margin-top: 10px;
  }
  
  
  .review-content {
    background-color: #f8f8f8;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .review-content p {
    color: #555;
    line-height: 1.6;
  }

  .product-review-container li{
    list-style: disc;
  }

  .f-banner img{
    width: 100%;
    height:auto;
  }
  
  