.shop-by-brands {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    margin-left: 20px; /* Adjust margin from the left as needed */
  }
  
  .brand-image {
    width: 80px; /* Reduce the width of each image */
    height: 60px; /* Reduce the height of each image */
    margin: 10px; /* Add margin to space the images */
  }


   .banner-zflip img{
    max-width: 100%;
    height: auto;
   }

   .banner-zflip img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .banner-zflip img {
        /* Adjust styles for smaller screens */
        /* For example, you could set max-width to a specific value */
        max-width: 80%;
    }
}
