.about-page {
  text-align: justify;
  padding: 20px;
  background: #f0f0f0;
}

.about-banner {
  position: relative;
  text-align: center;
  /* Center the "About Us" title horizontally */
  margin: 20px 0;
  /* Adding some spacing around the banner */
}

.about-banner-image {
  width: 100%;
  max-height: 70vh;
  display: block;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(31, 29, 29, 0.1);
  /* border-radius: 10px; */
}

.about-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.h1 {
  font-size: 25px;
  margin: 0;
  color: #30336b;
  font-weight: 500;
  padding-top: 10px;
}

.about-banner-text h2 {
  font-size: 24px;
  margin: 20px;
  font-weight: 500;
}

.about-content {
  text-align: left; 
  justify-content:center;
  padding: 20px 0; 
  width: 200vh;
  font-weight: 500;
  color:#2c3e50;
  padding-left: 2px;
  padding-right: 2px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .about-content {
    width: 100%; 
    margin: 0; 
  }
}

/* card styles*/

.card-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); /* Three columns for laptop screen */
  gap: 20px; 
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Single column for mobile screens */
  }
}

.card {
  /* border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  background: #ecf0f1;
  margin: 0 10px;
  border-radius: 20px; */
  width: 100%; 
  margin: 10px 0; 
}

.card h3 {
  padding-top: 50px;
  padding-left: 10px; /* Add left padding */
  font-size: 18px;
  margin: 0;
  color: #16a085;
}

.ratings{
  color: #f4c20d;
  padding-left: 10px;

}

.card p {
  font-size: 14px;
  color: #2c3e50;
  padding-left: 10px; 

}

.card-container .card img {
  width: 100%; 
  height: auto; 
  display: block; 
}

.card-container .card img:not(:first-child) {
  margin-top: 10px; 
}



