.policy-page {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
  }
  
  .policy-page  h4{
    color: #333;
    margin-left: 0;
  }
  .policy-page  h5{
    color: #333;
  }
  
  .policy-page section {
    margin-bottom: 5px;
  }
  
  .policy-page ul {
    list-style: none;
    padding: 0;
  }
  
  .policy-page li {
    margin-bottom: 10px;
    margin-left: 20px;
    list-style: disc;
  }
  
  .policy-page p {
    color: #555;
  }

  .f-banner img{
    width: 100%;
    height:auto;
  }
  
  